<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Vin</th>
      <th>Price</th>
      <th>Miles</th>
      <th>Trim</th>
      <th>Decimal</th>
      <th>Msrp</th>
      <th>Vdp url</th>
      <th>Stock no</th>
      <th>Exterior color</th>
      <th>Interior color</th>
      <th>Seller comments</th>
      <th>Details</th>
      <th>Seller name</th>
      <th>Seller phone</th>
      <th>City state zip</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Photo link</th>
      <th>Photo links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td class="heading"><%= listing.heading %></td>
        <td class="vin"><%= listing.vin %></td>
        <td class="price"><%= listing.price %></td>
        <td class="miles"><%= listing.miles %></td>
        <td class="trim"><%= listing.trim %></td>
        <td class="decimal"><%= listing.decimal %></td>
        <td class="msrp"><%= listing.msrp %></td>
        <td class="vdp_url"><%= listing.vdp_url %></td>
        <td class="stock_no"><%= listing.stock_no %></td>
        <td class="exterior_color"><%= listing.exterior_color %></td>
        <td class="interior_color"><%= listing.interior_color %></td>
        <td class="seller_comments"><%= listing.seller_comments %></td>
        <td class="details"><%= listing.details %></td>
        <td class="seller_name"><%= listing.seller_name %></td>
        <td class="seller_phone"><%= listing.seller_phone %></td>
        <td><%= listing.city_state_zip %></td>
        <td class="city"><%= listing.city %></td>
        <td class="state"><%= listing.state %></td>
        <td class="zip"><%= listing.zip %></td>
        <td class="photo_link"><%= listing.photo_link %></td>
        <td class="photo_links"><%= listing.photo_links %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
